# Czyszczenie danych i przygotowanie do analizy
Celem tego sprawozdania jest oczyszczenie i przygotowanie dostarczonego zestawu danych o **pasażerach statku Titanic**. 
Głównym zadaniem jest przekształcenie tych danych z nieuporządkowanych, wybrakowanych lub niepoprawnych w dane przydatne do analizy oraz dla modeli uczenia się maszynowego.

*Aby rozpocząć pracę nad zbiorem danych musimy zaimportować podstawowe biblioteki z których będziemy korzystać tworząc funkcjonalności. <br>
W poniższym sprawozdaniu użyto biblioteki math, numpy oraz pandas.*

In [234]:
import math
import numpy as np
import pandas as pd
import locale
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' )

'en_US.UTF-8'

Następnym krokiem jest **wczytanie pliku** oraz sprawdzenie czy został on poprawnie zaimportowany do notatnika. <br> W dodatku  w komendzie otwierającej definiujemy separator jako znak tabulacji (wynika to z formatu pliku .tsv), a jako kolumnę indeksującą usawiamy **PassengerID**.

In [235]:
titanic_df = pd.read_csv('TitanicMess.tsv', sep='\t', index_col='PassengerId') #wczytanie
titanic_df.head() #wyświetlenie wyników

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ship
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,"7,25",NaN,S,Titanic
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,"71,2833",C85,C,Titanic
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,"7,925",NaN,S,Titanic
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,"53,1",C123,S,Titanic
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,"8,05",NaN,S,Titanic

Nastepnym etapem bedzie **sprawdzenie danych pod katem błednych lub pustych wartości.**

In [236]:
titanic_df.dtypes #sprawdzenie typów kolumn

Survived     int64
Pclass       int64
Name        object
Sex         object
Age         object
SibSp        int64
Parch        int64
Ticket      object
Fare        object
Cabin       object
Embarked    object
ship        object
dtype: object

Jak mozemy zauważyc z powyżej tabeli, kolumna Age,  Fare jest traktowana jako **object**, ze względu przeznaczenie kolumn powinny one zawierać tylko liczby. Prawdopodobnie w tych dwóch kolumnach występują niepoprawne dane, które wpłyneły na złe przypisanie typu kolumny.

In [237]:
titanic_df.isnull().sum() #podliczenie liczby pustych danych

Survived      0
Pclass        0
Name          0
Sex           0
Age         173
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       685
Embarked      2
ship          0
dtype: int64

Jak możemy zobaczyć, posiadamy dużą liczbę pustych wartości w kolumnach *Age, Cabin* oraz w *Embarked*.

Analizujac dane i zawartość kolumn, mozemy zauwazyc ze kolumna **Ship** dla wszystkich rekordów ma taką sama wartość - *Titanic*. Biorąc pod uwagę, że przygotujemy dane dotyczące wyłącznie pasażerów statku Titanic, dlatego możemy tą kolumnę usunąć by nie powodowała nadmiernych obliczeń, jest bezużyteczna. <br> Usuwanie kolumny jest możliwe za pomocą metody *drop()*.

In [238]:
titanic_clear_columns = titanic_df.drop(columns='ship') #usunięcie kolumny
titanic_clear_columns.head() # wyswietlenie bez ship

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,"7,25",NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,"71,2833",C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,"7,925",NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,"53,1",C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,"8,05",NaN,S

Po pierwszym kroku oczyszczeniu danych, warto przyjrzeć się pozostałym kolumną i ich zawartością. <br>
**Survived** - kolumna jest cechą wyjściową, zawiera wartości dla każdej obserwacji albo 1 jeśli pasażer przeżył katastrofę albo 0 jeśli zginął. <br>
**Pclass** - kolumna ta zawiera klasę każdego pasażera na statku, są to wartości 1, 2 lub 3. <br>
**Age** - kolumna ta zawiera wiek każdego pasażera na statku, i jest użyteczna, używając pewnych poprawek możemy wydobyć nową cechę danych - dzięki niej możemy określić czy pasażer jest dzieckiem, albo nie (tutaj przyda się również kolumna **Sex**).

Jak wiemy z analizy pustych wartości, kolumna **Age** zawiera pewne zerowe/puste wartości, teoretycznie oczywiście możemy wypełnić te wartości. Używając niektórych statystyk, możemy założyć, że kolumna ta podąża za jakimś nieznanym rozkładem, a większość danych jest powtarzana jako niektóre zjawiska, zwane średnią rozkładu.

Podczas uzupełniania danych, zdecydowałam się na wypełnienie brakujących wartości najbardziej powtarzalną wartością.  Mówiąc najbardziej powtarzalną, mam na myśli średnią wartość kolumny.<br>
Dzięki bibliotece PANDAS, obliczenie średniej jest bardzo łatwe i możemy skozystać z metody mean()

In [239]:
titanic_clear_columns['Age'].mean()

TypeError: can only concatenate str (not "int") to str

Wywołanie metody mean() na kolumnie powoduje bląd. Jest on spowodowany faktem, iż kolumna **Age** jest traktowana jak obiekt, a operacja mean() wymaga od danych typu numerycznego. <br> Kolejnym krokiem bedzie usunięcie błędnych wartości by móc jeszcze raz obliczyć średnią wieku pasażerów. <br>
Na początku wyświetlmy błędne dane, wychwytując je blokiem try-catch oraz podsumujmy ilość błędnych wyników.

In [243]:
wrongAges=0 ## zmienna przechowująca liczbę błednych wyników
for index, row in titanic_clear_columns.iterrows():
    try:
        float(row['Age'])  ## próba parsowania do typu float
    except ValueError:
        wrongAges = wrongAges + 1
        print("Błąd wieku dla passegnerId " + str(index)) ## wyświetlenie błędnego wiersza
    
print("Ilość wyników niebędąca liczbą " + str(wrongAges))

Błąd wieku dla passegnerId 58
Błąd wieku dla passegnerId 79
Błąd wieku dla passegnerId 112
Błąd wieku dla passegnerId 117
Błąd wieku dla passegnerId 123
Błąd wieku dla passegnerId 124
Błąd wieku dla passegnerId 149
Błąd wieku dla passegnerId 153
Błąd wieku dla passegnerId 154
Błąd wieku dla passegnerId 204
Błąd wieku dla passegnerId 228
Błąd wieku dla passegnerId 297
Błąd wieku dla passegnerId 306
Błąd wieku dla passegnerId 332
Błąd wieku dla passegnerId 470
Błąd wieku dla passegnerId 526
Błąd wieku dla passegnerId 645
Błąd wieku dla passegnerId 677
Błąd wieku dla passegnerId 736
Błąd wieku dla passegnerId 756
Błąd wieku dla passegnerId 768
Błąd wieku dla passegnerId 804
Błąd wieku dla passegnerId 815
Błąd wieku dla passegnerId 832
Błąd wieku dla passegnerId 844
Ilość wyników niebędąca liczbą 25

Następny, krokiem jest próba przekonwertowania wartości do typu float oraz ustawienie poprawnego zakresu dla danych Age. <br> W tym celu ustaliłam zakres wieku od 0 do 123 (ponieważ najstarsza żyjąca na świecie osoba miała prawie 123 lata). W dodatku usunęłam dane niepoprawne zastępując je na tym etapie wartościami **NaN**.
Na koniec sprawdziłam, czy operacja się powiodła sprawdzając jeszcze raz typy kolumn.

In [244]:
for i, row in titanic_clear_columns.iterrows():
    try:
        if float(row["Age"]) < 0 or float(row["Age"]) > 123:
            titanic_clear_columns.at[i, "Age"] = np.NaN
        else:
            titanic_clear_columns.at[i, "Age"] = float(row["Age"])
        
    except ValueError:
        titanic_clear_columns.at[i, "Age"] = np.NaN
for index, row in titanic_clear_columns.iterrows():
    print(row["Age"])

titanic_clear_columns[["Age"]] = titanic_clear_columns[["Age"]].astype(float).round(1) ## konwersja do float
titanic_clear_columns.dtypes ## sprawdzenie aktualnych typów kolumn

22.0
38.0
26.0
35.0
35.0
nan
54.0
2.0
27.0
14.0
4.0
58.0
20.0
4.0
14.0
55.0
2.0
nan
31.0
nan
35.0
34.0
15.0
4.0
8.0
38.0
nan
19.0
nan
nan
40.0
0.9
nan
66.0
28.0
42.0
nan
21.0
18.0
14.0
40.0
27.0
nan
3.0
19.0
nan
nan
nan
nan
18.0
7.0
21.0
49.0
29.0
65.0
nan
21.0
nan
5.0
11.0
22.0
38.0
45.0
4.0
nan
nan
29.0
19.0
17.0
26.0
32.0
16.0
21.0
26.0
32.0
25.0
nan
nan
nan
30.0
22.0
29.0
nan
28.0
17.0
33.0
16.0
nan
23.0
24.0
29.0
20.0
46.0
26.0
59.0
nan
71.0
23.0
34.0
34.0
28.0
nan
21.0
33.0
37.0
28.0
21.0
nan
38.0
nan
47.0
nan
22.0
20.0
17.0
21.0
nan
29.0
24.0
2.0
21.0
nan
nan
nan
54.0
12.0
nan
24.0
nan
45.0
33.0
20.0
47.0
29.0
25.0
23.0
19.0
37.0
16.0
24.0
nan
22.0
24.0
19.0
18.0
19.0
27.0
9.0
nan
42.0
51.0
22.0
nan
nan
nan
51.0
16.0
30.0
nan
nan
44.0
40.0
26.0
17.0
1.0
9.0
nan
45.0
nan
28.0
61.0
4.0
1.0
21.0
56.0
18.0
nan
50.0
30.0
36.0
nan
nan
9.0
1.0
4.0
nan
nan
45.0
40.0
36.0
32.0
19.0
19.0
3.0
44.0
58.0
nan
42.0
nan
24.0
28.0
nan
34.0
nan
18.0
2.0
32.0
26.0
16.0
40.0
24.0
35.0
22.0
30.0
nan
31.0
27.0
42.0
32.0
30.0
16.0
27.0
51.0
nan
38.0
22.0
19.0
nan
18.0
nan
35.0
29.0
59.0
5.0
24.0
nan
44.0
8.0
19.0
33.0
nan
nan
29.0
22.0
30.0
44.0
25.0
24.0
37.0
54.0
nan
29.0
62.0
30.0
41.0
29.0
nan
30.0
35.0
50.0
nan
3.0
52.0
40.0
nan
36.0
16.0
25.0
58.0
35.0
nan
25.0
41.0
37.0
nan
63.0
45.0
nan
7.0
35.0
65.0
28.0
16.0
19.0
nan
33.0
30.0
22.0
42.0
22.0
26.0
19.0
36.0
24.0
24.0
nan
nan
2.0
nan
50.0
nan
nan
19.0
nan
nan
nan
nan
17.0
30.0
30.0
24.0
18.0
26.0
28.0
43.0
26.0
24.0
54.0
31.0
40.0
22.0
27.0
30.0
22.0
nan
36.0
61.0
36.0
31.0
16.0
nan
nan
38.0
16.0
nan
nan
29.0
41.0
45.0
45.0
2.0
24.0
28.0
25.0
36.0
24.0
40.0
nan
3.0
42.0
23.0
nan
15.0
25.0
nan
28.0
22.0
38.0
nan
nan
40.0
29.0
45.0
35.0
nan
30.0
60.0
nan
nan
24.0
25.0
18.0
19.0
22.0
3.0
nan
22.0
27.0
20.0
19.0
42.0
1.0
32.0
35.0
nan
18.0
1.0
36.0
nan
17.0
36.0
21.0
28.0
23.0
24.0
22.0
31.0
46.0
23.0
28.0
39.0
26.0
21.0
28.0
20.0
34.0
51.0
3.0
21.0
nan
nan
nan
33.0
nan
44.0
nan
34.0
18.0
30.0
10.0
nan
21.0
29.0
28.0
18.0
nan
28.0
19.0
nan
32.0
28.0
nan
42.0
17.0
50.0
14.0
21.0
24.0
64.0
31.0
45.0
20.0
25.0
28.0
nan
4.0
13.0
34.0
5.0
52.0
36.0
nan
30.0
49.0
nan
29.0
65.0
nan
50.0
nan
48.0
34.0
47.0
48.0
nan
38.0
nan
56.0
nan
nan
nan
38.0
33.0
23.0
22.0
nan
34.0
29.0
22.0
2.0
9.0
nan
50.0
63.0
25.0
nan
35.0
58.0
30.0
9.0
nan
21.0
55.0
71.0
21.0
nan
54.0
nan
25.0
24.0
17.0
21.0
nan
37.0
16.0
18.0
33.0
nan
28.0
26.0
29.0
nan
36.0
54.0
24.0
47.0
34.0
nan
36.0
32.0
38.0
22.0
nan
44.0
nan
nan
50.0
nan
39.0
23.0
2.0
nan
17.0
nan
30.0
7.0
45.0
30.0
nan
22.0
36.0
9.0
11.0
32.0
50.0
64.0
19.0
nan
33.0
8.0
17.0
27.0
nan
22.0
22.0
62.0
48.0
nan
39.0
36.0
nan
40.0
28.0
nan
nan
24.0
19.0
29.0
nan
32.0
62.0
53.0
36.0
nan
16.0
19.0
34.0
39.0
nan
32.0
25.0
39.0
54.0
36.0
nan
18.0
47.0
60.0
22.0
nan
35.0
52.0
47.0
nan
37.0
36.0
nan
49.0
nan
49.0
24.0
nan
nan
44.0
35.0
36.0
30.0
27.0
22.0
40.0
39.0
nan
nan
nan
35.0
24.0
34.0
26.0
4.0
26.0
27.0
42.0
20.0
21.0
21.0
61.0
57.0
21.0
26.0
nan
80.0
51.0
32.0
nan
9.0
28.0
32.0
31.0
41.0
nan
20.0
24.0
2.0
nan
nan
48.0
19.0
56.0
nan
23.0
nan
18.0
21.0
nan
18.0
24.0
nan
32.0
23.0
58.0
50.0
40.0
47.0
36.0
20.0
32.0
nan
nan
43.0
nan
40.0
31.0
70.0
31.0
nan
18.0
nan
18.0
38.0
36.0
nan
27.0
20.0
14.0
60.0
25.0
14.0
19.0
18.0
15.0
31.0
4.0
nan
25.0
60.0
52.0
44.0
nan
49.0
42.0
18.0
35.0
18.0
25.0
26.0
39.0
45.0
42.0
22.0
nan
24.0
nan
48.0
29.0
52.0
19.0
38.0
27.0
nan
33.0
6.0
17.0
34.0
50.0
27.0
20.0
30.0
nan
25.0
25.0
29.0
11.0
nan
23.0
23.0
nan
48.0
35.0
nan
nan
nan
36.0
21.0
24.0
31.0
70.0
16.0
30.0
19.0
31.0
4.0
6.0
33.0
23.0
48.0
nan
28.0
18.0
34.0
33.0
nan
41.0
20.0
36.0
16.0
51.0
nan
nan
nan
32.0
24.0
48.0
57.0
nan
54.0
18.0
nan
5.0
nan
43.0
13.0
17.0
29.0
nan
25.0
25.0
18.0
8.0
1.0
46.0
nan
16.0
nan
nan
25.0
39.0
49.0
31.0
30.0
30.0
34.0
31.0
11.0
nan
27.0
31.0
39.0
18.0
39.0
33.0
26.0
39.0
35.0
6.0
nan
nan
23.0
31.0
43.0
10.0
52.0
27.0
38.0
27.0
2.0
nan
nan
1.0
nan
62.0
15.0
nan
nan
23.0
18.0
39.0
21.0
nan
32.0
nan
20.0
16.0
30.0
nan
17.0
42.0
nan
35.0
28.0
nan
4.0
74.0
9.0
16.0
44.0
18.0
45.0
51.0
24.0
nan
41.0
21.0
48.0
nan
24.0
42.0
27.0
31.0
nan
4.0
26.0
47.0
33.0
47.0
28.0
15.0
20.0
19.0
nan
56.0
25.0
33.0
22.0
28.0
25.0
39.0
27.0
19.0
nan
26.0
32.0
38.0

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare         object
Cabin        object
Embarked     object
dtype: object

Na tym etapie błąd został usunięty, a typ kolumny Age to float64. <br> Ponownie próba obliczenia średniej kolumny Age kończy się sukcesem.

In [245]:
round(titanic_clear_columns['Age'].mean())

30

Skoro obliczyliśmy już średnią wieku wynoszącą 30 lat, pora podstawić tą wartość pod wartości błędne i puste.

In [196]:
titanic_clear_columns['Age'] = titanic_clear_columns['Age'].fillna(round(titanic_clear_columns['Age'].mean()))
for index, row in titanic_clear_columns.iterrows():
    print(row["Age"])

22.0
38.0
26.0
35.0
35.0
30.0
54.0
2.0
27.0
14.0
4.0
58.0
20.0
4.0
14.0
55.0
2.0
30.0
31.0
30.0
35.0
34.0
15.0
4.0
8.0
38.0
30.0
19.0
30.0
30.0
40.0
0.9
30.0
66.0
28.0
42.0
30.0
21.0
18.0
14.0
40.0
27.0
30.0
3.0
19.0
30.0
30.0
30.0
30.0
18.0
7.0
21.0
49.0
29.0
65.0
30.0
21.0
30.0
5.0
11.0
22.0
38.0
45.0
4.0
30.0
30.0
29.0
19.0
17.0
26.0
32.0
16.0
21.0
26.0
32.0
25.0
30.0
30.0
30.0
30.0
22.0
29.0
30.0
28.0
17.0
33.0
16.0
30.0
23.0
24.0
29.0
20.0
46.0
26.0
59.0
30.0
71.0
23.0
34.0
34.0
28.0
30.0
21.0
33.0
37.0
28.0
21.0
30.0
38.0
30.0
47.0
30.0
22.0
20.0
17.0
21.0
30.0
29.0
24.0
2.0
21.0
30.0
30.0
30.0
54.0
12.0
30.0
24.0
30.0
45.0
33.0
20.0
47.0
29.0
25.0
23.0
19.0
37.0
16.0
24.0
30.0
22.0
24.0
19.0
18.0
19.0
27.0
9.0
30.0
42.0
51.0
22.0
30.0
30.0
30.0
51.0
16.0
30.0
30.0
30.0
44.0
40.0
26.0
17.0
1.0
9.0
30.0
45.0
30.0
28.0
61.0
4.0
1.0
21.0
56.0
18.0
30.0
50.0
30.0
36.0
30.0
30.0
9.0
1.0
4.0
30.0
30.0
45.0
40.0
36.0
32.0
19.0
19.0
3.0
44.0
58.0
30.0
42.0
30.0
24.0
28.0
30.0
34.0
30.0
18.0
2.0
32.0
26.0
16.0
40.0
24.0
35.0
22.0
30.0
30.0
31.0
27.0
42.0
32.0
30.0
16.0
27.0
51.0
30.0
38.0
22.0
19.0
30.0
18.0
30.0
35.0
29.0
59.0
5.0
24.0
30.0
44.0
8.0
19.0
33.0
30.0
30.0
29.0
22.0
30.0
44.0
25.0
24.0
37.0
54.0
30.0
29.0
62.0
30.0
41.0
29.0
30.0
30.0
35.0
50.0
30.0
3.0
52.0
40.0
30.0
36.0
16.0
25.0
58.0
35.0
30.0
25.0
41.0
37.0
30.0
63.0
45.0
30.0
7.0
35.0
65.0
28.0
16.0
19.0
30.0
33.0
30.0
22.0
42.0
22.0
26.0
19.0
36.0
24.0
24.0
30.0
30.0
2.0
30.0
50.0
30.0
30.0
19.0
30.0
30.0
30.0
30.0
17.0
30.0
30.0
24.0
18.0
26.0
28.0
43.0
26.0
24.0
54.0
31.0
40.0
22.0
27.0
30.0
22.0
30.0
36.0
61.0
36.0
31.0
16.0
30.0
30.0
38.0
16.0
30.0
30.0
29.0
41.0
45.0
45.0
2.0
24.0
28.0
25.0
36.0
24.0
40.0
30.0
3.0
42.0
23.0
30.0
15.0
25.0
30.0
28.0
22.0
38.0
30.0
30.0
40.0
29.0
45.0
35.0
30.0
30.0
60.0
30.0
30.0
24.0
25.0
18.0
19.0
22.0
3.0
30.0
22.0
27.0
20.0
19.0
42.0
1.0
32.0
35.0
30.0
18.0
1.0
36.0
30.0
17.0
36.0
21.0
28.0
23.0
24.0
22.0
31.0
46.0
23.0
28.0
39.0
26.0
21.0
28.0
20.0
34.0
51.0
3.0
21.0
30.0
30.0
30.0
33.0
30.0
44.0
30.0
34.0
18.0
30.0
10.0
30.0
21.0
29.0
28.0
18.0
30.0
28.0
19.0
30.0
32.0
28.0
30.0
42.0
17.0
50.0
14.0
21.0
24.0
64.0
31.0
45.0
20.0
25.0
28.0
30.0
4.0
13.0
34.0
5.0
52.0
36.0
30.0
30.0
49.0
30.0
29.0
65.0
30.0
50.0
30.0
48.0
34.0
47.0
48.0
30.0
38.0
30.0
56.0
30.0
30.0
30.0
38.0
33.0
23.0
22.0
30.0
34.0
29.0
22.0
2.0
9.0
30.0
50.0
63.0
25.0
30.0
35.0
58.0
30.0
9.0
30.0
21.0
55.0
71.0
21.0
30.0
54.0
30.0
25.0
24.0
17.0
21.0
30.0
37.0
16.0
18.0
33.0
30.0
28.0
26.0
29.0
30.0
36.0
54.0
24.0
47.0
34.0
30.0
36.0
32.0
38.0
22.0
30.0
44.0
30.0
30.0
50.0
30.0
39.0
23.0
2.0
30.0
17.0
30.0
30.0
7.0
45.0
30.0
30.0
22.0
36.0
9.0
11.0
32.0
50.0
64.0
19.0
30.0
33.0
8.0
17.0
27.0
30.0
22.0
22.0
62.0
48.0
30.0
39.0
36.0
30.0
40.0
28.0
30.0
30.0
24.0
19.0
29.0
30.0
32.0
62.0
53.0
36.0
30.0
16.0
19.0
34.0
39.0
30.0
32.0
25.0
39.0
54.0
36.0
30.0
18.0
47.0
60.0
22.0
30.0
35.0
52.0
47.0
30.0
37.0
36.0
30.0
49.0
30.0
49.0
24.0
30.0
30.0
44.0
35.0
36.0
30.0
27.0
22.0
40.0
39.0
30.0
30.0
30.0
35.0
24.0
34.0
26.0
4.0
26.0
27.0
42.0
20.0
21.0
21.0
61.0
57.0
21.0
26.0
30.0
80.0
51.0
32.0
30.0
9.0
28.0
32.0
31.0
41.0
30.0
20.0
24.0
2.0
30.0
30.0
48.0
19.0
56.0
30.0
23.0
30.0
18.0
21.0
30.0
18.0
24.0
30.0
32.0
23.0
58.0
50.0
40.0
47.0
36.0
20.0
32.0
30.0
30.0
43.0
30.0
40.0
31.0
70.0
31.0
30.0
18.0
30.0
18.0
38.0
36.0
30.0
27.0
20.0
14.0
60.0
25.0
14.0
19.0
18.0
15.0
31.0
4.0
30.0
25.0
60.0
52.0
44.0
30.0
49.0
42.0
18.0
35.0
18.0
25.0
26.0
39.0
45.0
42.0
22.0
30.0
24.0
30.0
48.0
29.0
52.0
19.0
38.0
27.0
30.0
33.0
6.0
17.0
34.0
50.0
27.0
20.0
30.0
30.0
25.0
25.0
29.0
11.0
30.0
23.0
23.0
30.0
48.0
35.0
30.0
30.0
30.0
36.0
21.0
24.0
31.0
70.0
16.0
30.0
19.0
31.0
4.0
6.0
33.0
23.0
48.0
30.0
28.0
18.0
34.0
33.0
30.0
41.0
20.0
36.0
16.0
51.0
30.0
30.0
30.0
32.0
24.0
48.0
57.0
30.0
54.0
18.0
30.0
5.0
30.0
43.0
13.0
17.0
29.0
30.0
25.0
25.0
18.0
8.0
1.0
46.0
30.0
16.0
30.0
30.0
25.0
39.0
49.0
31.0
30.0
30.0
34.0
31.0
11.0
30.0
27.0
31.0
39.0
18.0
39.0
33.0
26.0
39.0
35.0
6.0
30.0
30.0
23.0
31.0
43.0
10.0
52.0
27.0
38.0
27.0
2.0
30.0
30.0
1.0
30.0
62.0
15.0
30.0
30.0
23.0
18.0
39.0
21.0
30.0
32.0
30.0
20.0
16.0
30.0
30.0
17.0
42.0
30.0
35.0
28.0
30.0
4.0
74.0
9.0
16.0
44.0
18.0
45.0
51.0
24.0
30.0
41.0
21.0
48.0
30.0
24.0
42.0
27.0
31.0
30.0
4.0
26.0
47.0
33.0
47.0
28.0
15.0
20.0
19.0
30.0
56.0
25.0
33.0
22.0
28.0
25.0
39.0
27.0
19.0
30.0
26.0
32.0
38.0

Podczas analizy możemy zauważyć, że w analizie zestawu danych o pasażerach Titanica, kolumna **Cabin** nie daje nam żadnej użytecznej wiedzy, poza tym najczęściej są to wartości zerowe. Dlatego też nie będziemy jej używać, ponieważ jest bezużyteczna i będzie miała wpływ na każdy model uczenia się maszynowego. Kolejnym etap przetwarzania danych jest usunięcie kolumny z ramki danych.

In [197]:
titanic_clear_columns.drop('Cabin',axis=1, inplace=True) #usunięcie
titanic_clear_columns.head() ## wyświetlenie

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,"7,25",S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,"71,2833",C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,"7,925",S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,"53,1",S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,"8,05",S

Jak widzieliśmy kolumna **Embarked** zawierała aż 2 puste wartości. <br> Podczas uzupełniania tej kolumny losowo wybrałam S i podstanowiłam uzupełnić brakujące pola.

In [246]:
titanic_clear_columns['Embarked'] = titanic_clear_columns['Embarked'].fillna('S')
titanic_clear_columns.isnull().values.any()

True

Na tym etapie czyszczenia wszystkie puste wartośći zostały uzupełnione, o czym świadczy wynik metody  *titanic_clear_columns.isnull().values.any()*

Kolejnym etapem jest sprawdzenie wartości przechowywanych w kolumnie **Sex**. Pomimo obecnych trendów określania się jako osoby niebinarne postanowiłam założyć, że kolumnie tej (dotyczącej pasażerów żyjących na początku XX w.) wszystkie osoby mogły zadeklarować tylko jedną z dwóch płci: MALE, FEMALE.

In [247]:
unkalna_plec = titanic_clear_columns['Sex'].unique()
print(unkalna_plec)

['male' 'female' 'malef' 'mal' 'fem' 'femmale']

Niestety jak możemy zauważyć, kolumna ta przechowuje aż 6 wartości. Prawdopodbnie są one zwykłymi literówkami. Postanowiłam je zamienić według schematu <br>
**malef** -> *male* <br>
**male** -> *male* <br>
**fem** -> *female* <br>
**femmale** -> *female* <br>

In [217]:
titanic_clear_columns['Sex'] = titanic_clear_columns['Sex'].replace(['malef'],'male')
titanic_clear_columns['Sex'] = titanic_clear_columns['Sex'].replace(['mal'],'male')
titanic_clear_columns['Sex'] = titanic_clear_columns['Sex'].replace(['fem'],'female')
titanic_clear_columns['Sex'] = titanic_clear_columns['Sex'].replace(['femmale'],'female')
unkalna_plec = titanic_clear_columns['Sex'].unique()
print(unkalna_plec) # sprawdzenie czy operacja sie powiodła

['male' 'female']

Dzięki metodzie unique() sprawdziliśmy, czy operacja powiodła się. Na tym etapie w kolumnie **Sex** znajdują się już tylko 2 możliwe wartości.

W poprzedniej analizie typów mogliśmy zauwazyć, że kolumna **Fare**, która przechowuje wartości ceny biletu jest traktowana jako Obiekt, zdecydowałam się na przekonwertowanie ich do typu float *podobnie jak w przypadku Age* oraz zaokrąglenie do 2 miejsc po przecinku. <br>
Pod koniec wyświetlone zostały typy kolumn po tej modyfikacji.

In [219]:

for i, row in titanic_clear_columns.iterrows():
    try:
        titanic_clear_columns.at[i, 'Fare'] = float(row['Fare'])       
    except ValueError:
        titanic_clear_columns.at[i, 'Fare'] = np.NaN

titanic_clear_columns[['Fare']] = titanic_clear_columns[['Fare']].astype(float).round(2)
titanic_clear_columns.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Embarked     object
dtype: object

Jak widać kolumna **Fare** jest traktowana jako zmienna liczbowa. 
Kolejnym krokiem będzie sprawdzenie występujących duplikatów.

In [228]:
titanic_clear_columns.duplicated(keep='first')

PassengerId
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
11       True
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
11       True
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
50      False
51      False
52      False
53      False
54      False
55      False
56      False
57      False
58      False
59      False
60      False
61      False
62      False
63      False
64      False
65      False
66      False
67      False
68      False
69      False
70      False
71      False
72      False
73      False
74      False
75      False
76      False
77      False
78      False
79      False
80      False
81      False
82      False
83      False
84      False
85      False
86      False
87      False
88      False
89      False
90      False
91      False
92      False
93      False
94      False
95      False
96      False
97      False
98      False
99      False
100     False
101     False
102     False
103     False
104     False
105     False
106     False
107     False
108     False
109     False
110     False
111     False
112     False
113     False
114     False
115     False
116     False
117     False
118     False
119     False
120     False
121     False
122     False
123     False
124     False
125     False
126     False
127     False
128     False
129     False
130     False
131     False
132     False
133     False
134     False
135     False
136     False
137     False
138     False
139     False
140     False
141     False
142     False
143     False
144     False
145     False
146     False
147     False
148     False
149     False
150     False
151     False
152     False
153     False
154     False
155     False
156     False
157     False
158     False
159     False
160     False
161     False
162     False
163     False
164     False
165     False
166     False
167     False
168     False
169     False
170     False
171     False
172     False
173     False
174     False
175     False
176     False
177     False
178     False
179     False
180     False
181     False
182     False
183     False
184     False
185     False
186     False
187     False
188     False
189     False
190     False
191     False
192     False
193     False
194     False
195     False
196     False
197     False
198     False
199     False
200     False
201     False
202     False
203     False
204     False
205     False
206     False
207     False
208     False
209     False
210     False
211     False
212     False
213     False
214     False
215     False
216     False
217     False
218     False
219     False
220     False
221     False
222     False
223     False
224     False
225     False
226     False
227     False
228     False
229     False
230     False
231     False
232     False
233     False
234     False
235     False
236     False
237     False
238     False
239     False
240     False
241     False
242     False
243     False
244     False
245     False
246     False
247     False
248     False
249     False
250     False
251     False
252     False
253     False
254     False
255     False
256     False
257     False
258     False
259     False
260     False
261     False
262     False
263     False
264     False
265     False
266     False
267     False
268     False
269     False
270     False
271     False
272     False
273     False
274     False
275     False
276     False
277     False
278     False
279     False
280     False
281     False
282     False
283     False
284     False
285     False
286     False
287     False
288     False
289     False
290     False
291     False
292     False
293     False
294     False
295     False
296     False
297     False
298     False
299     False
300     False
301     False
302     False
303     False
304     False
305     False
306     False
307     False
308     False
309     False
310     False
311     False
312     False
313     False
314     False
315     False
316     False
317     False
318     False
319     False
320     False
321     False
322     False
323     False
324     False
325     False
326     False
327     False
328     False
329     False
330     False
331     False
332     False
333     False
334     False
335     False
336     False
337     False
338     False
339     False
340     False
341     False
342     False
343     False
344     False
345     False
346     False
347     False
348     False
349     False
350     False
351     False
352     False
353     False
354     False
355     False
356     False
357     False
358     False
359     False
360     False
361     False
362     False
363     False
364     False
365     False
366     False
367     False
368     False
369     False
370     False
371     False
372     False
373     False
374     False
375     False
376     False
377     False
378     False
379     False
380     False
381     False
382     False
383     False
384     False
385     False
386     False
387     False
388     False
389     False
390     False
391     False
392     False
393     False
394     False
395     False
396     False
397     False
398     False
399     False
400     False
401     False
402     False
403     False
404     False
405     False
406     False
407     False
408     False
409     False
410     False
411     False
412     False
413     False
414     False
415     False
416     False
417     False
418     False
419     False
420     False
421     False
422     False
423     False
424     False
425     False
426     False
427     False
428     False
429     False
430     False
431     False
432     False
433     False
434     False
435     False
436     False
437     False
438     False
439     False
440     False
441     False
442     False
443     False
444     False
445     False
446     False
447     False
448     False
449     False
450     False
451     False
452     False
453     False
454     False
455     False
456     False
457     False
458     False
459     False
460     False
461     False
462     False
463     False
464     False
465     False
466     False
467     False
468     False
469     False
470     False
471     False
472     False
473     False
474     False
475     False
476     False
477     False
478     False
479     False
480     False
481     False
482     False
483     False
484     False
485     False
486     False
487     False
488     False
489     False
490     False
491     False
492     False
493     False
494     False
495     False
496     False
497     False
498     False
499     False
500     False
501     False
502     False
503     False
504     False
505     False
506     False
507     False
508     False
509     False
510     False
511     False
512     False
513     False
514     False
515     False
516     False
517     False
518     False
519     False
520     False
225      True
522     False
523     False
524     False
525     False
526     False
527     False
528     False
529     False
530     False
531     False
532     False
533     False
534     False
535     False
536     False
537     False
538     False
539     False
540     False
541     False
542     False
543     False
544     False
545     False
546     False
547     False
548     False
549     False
550     False
551     False
552     False
553     False
554     False
555     False
556     False
557     False
558     False
559     False
560     False
561     False
562     False
563     False
564     False
565     False
566     False
567     False
568     False
569     False
570     False
571     False
572     False
573     False
574     False
575     False
576     False
577     False
578     False
579     False
580     False
581     False
582     False
583     False
584     False
585     False
586     False
587     False
588     False
589     False
590     False
591     False
592     False
593     False
594     False
595     False
596     False
597     False
598     False
599     False
600     False
601     False
602     False
603     False
604     False
605     False
606     False
607     False
608     False
609     False
610     False
611     False
612     False
613     False
614     False
615     False
616     False
617     False
618     False
619     False
620     False
621     False
622     False
623     False
624     False
625     False
626     False
627     False
628     False
629     False
630     False
631     False
632     False
633     False
634     False
635     False
636     False
637     False
638     False
639     False
640     False
641     False
642     False
643     False
644     False
645     False
646     False
647     False
648     False
649     False
650     False
651     False
652     False
653     False
654     False
655     False
656     False
657     False
658     False
659     False
660     False
661     False
662     False
663     False
664     False
665     False
666     False
667     False
668     False
669     False
670     False
671     False
672     False
673     False
674     False
675     False
676     False
677     False
678     False
225     False
680     False
681     False
682     False
683     False
684     False
685     False
686     False
687     False
688     False
689     False
690     False
691     False
692     False
693     False
694     False
695     False
696     False
697     False
698     False
699     False
700     False
701     False
702     False
703     False
704     False
705     False
706     False
707     False
708     False
709     False
710     False
711     False
712     False
713     False
714     False
715     False
716     False
717     False
718     False
719     False
720     False
721     False
722     False
723     False
724     False
725     False
726     False
727     False
728     False
729     False
730     False
731     False
732     False
733     False
734     False
735     False
736     False
737     False
738     False
739     False
740     False
741     False
742     False
743     False
744     False
745     False
746     False
747     False
748     False
749     False
750     False
751     False
752     False
753     False
754     False
755     False
756     False
757     False
758     False
759     False
760     False
761     False
762     False
763     False
764     False
765     False
766     False
767     False
768     False
769     False
770     False
771     False
772     False
773     False
774     False
775     False
776     False
777     False
778     False
779     False
780     False
781     False
782     False
783     False
784     False
785     False
786     False
787     False
788     False
789     False
790     False
791     False
792     False
793     False
794     False
795     False
796     False
797     False
798     False
799     False
800     False
801     False
802     False
803     False
804     False
805     False
806     False
807     False
808     False
809     False
810     False
811     False
812     False
813     False
814     False
815     False
816     False
817     False
818     False
819     False
820     False
821     False
822     False
823     False
824     False
825     False
826     False
827     False
828     False
829     False
830     False
831     False
832     False
833     False
834     False
835     False
836     False
837     False
838     False
839     False
840     False
841     False
842     False
843     False
844     False
845     False
846     False
847     False
848     False
849     False
850     False
851     False
852     False
853     False
854     False
855     False
856     False
857     False
858     False
859     False
860     False
861     False
862     False
863     False
864     False
865     False
866     False
867     False
868     False
869     False
870     False
871     False
872     False
873     False
874     False
875     False
876     False
877     False
878     False
879     False
880     False
881     False
882     False
883     False
884     False
885     False
886     False
887     False
888     False
889     False
890     False
891     False
1000    False
dtype: bool

Jak możemy zauważyć niektóre rekordy (*dla PassengerId=11*) potwarzają się. Następnym krokiem bedzie usunięcie duplikatów.

In [230]:
titanic_clear_columns.drop_duplicates(keep = False, inplace = True) ## usunięcie duplikatów
titanic_clear_columns.duplicated(keep='first')  ## sprawdzenie

PassengerId
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
12      False
13      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
50      False
51      False
52      False
53      False
54      False
55      False
56      False
57      False
58      False
59      False
60      False
61      False
62      False
63      False
64      False
65      False
66      False
67      False
68      False
69      False
70      False
71      False
72      False
73      False
74      False
75      False
76      False
77      False
78      False
79      False
80      False
81      False
82      False
83      False
84      False
85      False
86      False
87      False
88      False
89      False
90      False
91      False
92      False
93      False
94      False
95      False
96      False
97      False
98      False
99      False
100     False
101     False
102     False
103     False
104     False
105     False
106     False
107     False
108     False
109     False
110     False
111     False
112     False
113     False
114     False
115     False
116     False
117     False
118     False
119     False
120     False
121     False
122     False
123     False
124     False
125     False
126     False
127     False
128     False
129     False
130     False
131     False
132     False
133     False
134     False
135     False
136     False
137     False
138     False
139     False
140     False
141     False
142     False
143     False
144     False
145     False
146     False
147     False
148     False
149     False
150     False
151     False
152     False
153     False
154     False
155     False
156     False
157     False
158     False
159     False
160     False
161     False
162     False
163     False
164     False
165     False
166     False
167     False
168     False
169     False
170     False
171     False
172     False
173     False
174     False
175     False
176     False
177     False
178     False
179     False
180     False
181     False
182     False
183     False
184     False
185     False
186     False
187     False
188     False
189     False
190     False
191     False
192     False
193     False
194     False
195     False
196     False
197     False
198     False
199     False
200     False
201     False
202     False
203     False
204     False
205     False
206     False
207     False
208     False
209     False
210     False
211     False
212     False
213     False
214     False
215     False
216     False
217     False
218     False
219     False
220     False
221     False
222     False
223     False
224     False
226     False
227     False
228     False
229     False
230     False
231     False
232     False
233     False
234     False
235     False
236     False
237     False
238     False
239     False
240     False
241     False
242     False
243     False
244     False
245     False
246     False
247     False
248     False
249     False
250     False
251     False
252     False
253     False
254     False
255     False
256     False
257     False
258     False
259     False
260     False
261     False
262     False
263     False
264     False
265     False
266     False
267     False
268     False
269     False
270     False
271     False
272     False
273     False
274     False
275     False
276     False
277     False
278     False
279     False
280     False
281     False
282     False
283     False
284     False
285     False
286     False
287     False
288     False
289     False
290     False
291     False
292     False
293     False
294     False
295     False
296     False
297     False
298     False
299     False
300     False
301     False
302     False
303     False
304     False
305     False
306     False
307     False
308     False
309     False
310     False
311     False
312     False
313     False
314     False
315     False
316     False
317     False
318     False
319     False
320     False
321     False
322     False
323     False
324     False
325     False
326     False
327     False
328     False
329     False
330     False
331     False
332     False
333     False
334     False
335     False
336     False
337     False
338     False
339     False
340     False
341     False
342     False
343     False
344     False
345     False
346     False
347     False
348     False
349     False
350     False
351     False
352     False
353     False
354     False
355     False
356     False
357     False
358     False
359     False
360     False
361     False
362     False
363     False
364     False
365     False
366     False
367     False
368     False
369     False
370     False
371     False
372     False
373     False
374     False
375     False
376     False
377     False
378     False
379     False
380     False
381     False
382     False
383     False
384     False
385     False
386     False
387     False
388     False
389     False
390     False
391     False
392     False
393     False
394     False
395     False
396     False
397     False
398     False
399     False
400     False
401     False
402     False
403     False
404     False
405     False
406     False
407     False
408     False
409     False
410     False
411     False
412     False
413     False
414     False
415     False
416     False
417     False
418     False
419     False
420     False
421     False
422     False
423     False
424     False
425     False
426     False
427     False
428     False
429     False
430     False
431     False
432     False
433     False
434     False
435     False
436     False
437     False
438     False
439     False
440     False
441     False
442     False
443     False
444     False
445     False
446     False
447     False
448     False
449     False
450     False
451     False
452     False
453     False
454     False
455     False
456     False
457     False
458     False
459     False
460     False
461     False
462     False
463     False
464     False
465     False
466     False
467     False
468     False
469     False
470     False
471     False
472     False
473     False
474     False
475     False
476     False
477     False
478     False
479     False
480     False
481     False
482     False
483     False
484     False
485     False
486     False
487     False
488     False
489     False
490     False
491     False
492     False
493     False
494     False
495     False
496     False
497     False
498     False
499     False
500     False
501     False
502     False
503     False
504     False
505     False
506     False
507     False
508     False
509     False
510     False
511     False
512     False
513     False
514     False
515     False
516     False
517     False
518     False
519     False
520     False
522     False
523     False
524     False
525     False
526     False
527     False
528     False
529     False
530     False
531     False
532     False
533     False
534     False
535     False
536     False
537     False
538     False
539     False
540     False
541     False
542     False
543     False
544     False
545     False
546     False
547     False
548     False
549     False
550     False
551     False
552     False
553     False
554     False
555     False
556     False
557     False
558     False
559     False
560     False
561     False
562     False
563     False
564     False
565     False
566     False
567     False
568     False
569     False
570     False
571     False
572     False
573     False
574     False
575     False
576     False
577     False
578     False
579     False
580     False
581     False
582     False
583     False
584     False
585     False
586     False
587     False
588     False
589     False
590     False
591     False
592     False
593     False
594     False
595     False
596     False
597     False
598     False
599     False
600     False
601     False
602     False
603     False
604     False
605     False
606     False
607     False
608     False
609     False
610     False
611     False
612     False
613     False
614     False
615     False
616     False
617     False
618     False
619     False
620     False
621     False
622     False
623     False
624     False
625     False
626     False
627     False
628     False
629     False
630     False
631     False
632     False
633     False
634     False
635     False
636     False
637     False
638     False
639     False
640     False
641     False
642     False
643     False
644     False
645     False
646     False
647     False
648     False
649     False
650     False
651     False
652     False
653     False
654     False
655     False
656     False
657     False
658     False
659     False
660     False
661     False
662     False
663     False
664     False
665     False
666     False
667     False
668     False
669     False
670     False
671     False
672     False
673     False
674     False
675     False
676     False
677     False
678     False
225     False
680     False
681     False
682     False
683     False
684     False
685     False
686     False
687     False
688     False
689     False
690     False
691     False
692     False
693     False
694     False
695     False
696     False
697     False
698     False
699     False
700     False
701     False
702     False
703     False
704     False
705     False
706     False
707     False
708     False
709     False
710     False
711     False
712     False
713     False
714     False
715     False
716     False
717     False
718     False
719     False
720     False
721     False
722     False
723     False
724     False
725     False
726     False
727     False
728     False
729     False
730     False
731     False
732     False
733     False
734     False
735     False
736     False
737     False
738     False
739     False
740     False
741     False
742     False
743     False
744     False
745     False
746     False
747     False
748     False
749     False
750     False
751     False
752     False
753     False
754     False
755     False
756     False
757     False
758     False
759     False
760     False
761     False
762     False
763     False
764     False
765     False
766     False
767     False
768     False
769     False
770     False
771     False
772     False
773     False
774     False
775     False
776     False
777     False
778     False
779     False
780     False
781     False
782     False
783     False
784     False
785     False
786     False
787     False
788     False
789     False
790     False
791     False
792     False
793     False
794     False
795     False
796     False
797     False
798     False
799     False
800     False
801     False
802     False
803     False
804     False
805     False
806     False
807     False
808     False
809     False
810     False
811     False
812     False
813     False
814     False
815     False
816     False
817     False
818     False
819     False
820     False
821     False
822     False
823     False
824     False
825     False
826     False
827     False
828     False
829     False
830     False
831     False
832     False
833     False
834     False
835     False
836     False
837     False
838     False
839     False
840     False
841     False
842     False
843     False
844     False
845     False
846     False
847     False
848     False
849     False
850     False
851     False
852     False
853     False
854     False
855     False
856     False
857     False
858     False
859     False
860     False
861     False
862     False
863     False
864     False
865     False
866     False
867     False
868     False
869     False
870     False
871     False
872     False
873     False
874     False
875     False
876     False
877     False
878     False
879     False
880     False
881     False
882     False
883     False
884     False
885     False
886     False
887     False
888     False
889     False
890     False
891     False
1000    False
dtype: bool

Na tym etapie zbiór jest oczyszczony z wartości niepoprawnych, uzupełniony o brakujące wartości i przygotowany do dalszej analizy. <br>
Ze względu na fakt, że pozostały nam jeszcze kolumny **Parch** oraz **SibSp**, które mogą dostarczyć nam ciekawych dodatkowych informacji na temat pasażera (czy podróżował sam, czy z rodziną). <br>
Postanowiłam więc dodać kolumnę "ALONE", która przechowywać będzie wartośći "With Family" lub "Without Family". Jest to dodatkowa cecha pasażera, która może przydać się w przyszłej analizie danych.

In [248]:
titanic_clear_columns['Alone'] = titanic_clear_columns.Parch + titanic_clear_columns.SibSp
titanic_clear_columns['Alone'].loc[titanic_clear_columns['Alone']>0] = 'With Family'
titanic_clear_columns['Alone'].loc[titanic_clear_columns['Alone'] == 0] = 'Without Family'
titanic_clear_columns.head()

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Alone
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,"7,25",NaN,S,With Family
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,"71,2833",C85,C,With Family
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,"7,925",NaN,S,Without Family
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,"53,1",C123,S,With Family
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,"8,05",NaN,S,Without Family

Jak już wcześniej wspomninałam kolumna **Age** może być też pomocna do uzyskania dodatkowej cechy pasażera, mianowicie określenie czy dany pasażer był dzieckiem, czy nie. 
Dodano więc kolumne **Person**, która będzie przechowywać wartości *child* jeśli dany pasażer był dzieckiem, w innym przypadku kolumna zawiera płeć z kolumny **Sex**

In [226]:
def titanic_children(passenger):    
    age , sex = passenger
    if age <16:
        return 'child'
    else:
        return sex
titanic_clear_columns['person'] = titanic_clear_columns[['Age','Sex']].apply(titanic_children,axis=1)
titanic_clear_columns.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Alone,person
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,S,With Family,male
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C,With Family,female
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,S,Without Family,female
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,S,With Family,female
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,S,Without Family,male

Po wykonaniu wszystkich powyższych kroków możemy przygotować i oczyścić każdy zestaw danych, w tym sprawozdaniu użyliśmy akurat zbioru danych o Titanicu, przygotowaliśmy niekompletne i błędne dane oraz wyciągnęliśmy ukrytą wiedzę, której być może wcześniej nie widzieliśmy.

Z tak przygotowanymi danymi możemy przejść do budowania modeli dla tego zbioru danych oraz wykorzystać model uczenia się maszynowego do przewidywania danej obserwacji.

<br>Ostatnim krokiem będzie **wyeksportowanie przygotowanego DataFrame do pliku o rozszerzeniu .tsv**

In [250]:
titanic_clear_columns.to_csv('filename.tsv', sep = '\t')